
      <section class="maindiv">
		     <h1>Welcome to the Restaurant Site!!</h1> 
	<h2>There are {{restaurants.length}} restaurants</h2>
	{{#each restaurants}} 
		<article class="card">
			<a href="/restaurants/{{id}}"><h2>{{name}}</h2></a>
			<img class="item-img" src="{{image}}"/>
			 {{!-- <button id ='delete-btn'>Delete Restaurant</button> --}}
			 <button id='btn-{{id}}' class="delete-btn" onclick="deleteRestaurant({{id}})">Delete</button>
		</article>
	{{/each}}
	<div>
       <button><a href="/new-restaurant" class="new-restaurant-btn"><h2>Add New Restaurant</h2></a></button> 
	           <script src="/script.js"></script>
    </div>
</section>
